@import "tailwindcss";

@theme {
    --color-brand-bg: #f3f7fa;
    --color-brand-green: #188687;
    --color-brand-blue: #131a2c;
}

@layer base {
    body {
        background-color: var(--color-brand-bg);
        color: var(--color-brand-blue);
        font-family: "Roboto", sans-serif;
    }
}

@layer utilities {
    .animate-float {
        animation: float 6s ease-in-out infinite;
    }
    .animate-float-delayed {
        animation: float 7s ease-in-out infinite 2s;
    }
    .blob-shape {
        border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    }
    .bg-pattern {
        background-image: radial-gradient(#e2e8f0 1px, transparent 1px);
        background-size: 24px 24px;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
